@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Arimo', sans-serif;
}
.slick-slide {
  padding: 0 10px;
  box-sizing: border-box;
}

.slick-list {
  margin: 0 2em;
}

.bgGradient {
  background-image: linear-gradient(
    to right,
    black,
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.5)
  );
}

.arimoFont {
  font-family: 'Arimo', sans-serif;
}

.drpContainer:hover .dropdown__menu {
  display: block;
}
